$primary: teal;
$secondary: coral;
$success: hsl(177, 45%, 52%);
$custom-color: rgb(211, 203, 192);

$transition-base: all 0.5s ease-in-out;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
