// Custom.scss
// Option B: Include parts of Bootstrap
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import 'custom';


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: var(--bs-body-font-family);
}

img {
  transition: transform 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


@import './components/fonts';
@import './sections/navbar';
@import './sections/footer';
@import './sections/carousel';
@import './sections/tjenester';
@import './sections/testimonials';


