// Custom.scss
// Option B: Include parts of Bootstrap
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import 'custom';


body {
    padding-top: 0;
    padding-bottom: 3rem;
    font-family: var(--bs-body-font-family);
  }


  .container-fluid  {
    padding-left: 0;
    padding-right: 0;
  }


.nav-link {
    color: teal;
    transition: all 0.3s ease;
}

.nav-link:hover 
{
    color: hsl(177, 45%, 52%)!important; 
}


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


@import './components/fonts';
@import './sections/navbar';
@import './sections/footer';
@import './sections/carousel';
@import './sections/tjenester';

