
.bg-custom-light {
  background-color: seashell;
}


.card-rating {
height: auto;
  color: darkslategrey;
}

@keyframes gradient-shift {
  0% {
    background: linear-gradient(135deg, rgb(211, 203, 192), rgb(180, 160, 140));
  }
  50% {
    background: linear-gradient(135deg, rgb(190, 170, 150), rgb(170, 150, 130));
  }
  100% {
    background: linear-gradient(135deg, rgb(211, 203, 192), rgb(180, 160, 140));
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradient-shift 6s infinite alternate ease-in-out;
}

